numpy==2.2.4
pandas==2.2.3
jax==0.5.2
numpyro==0.18.0
funsor==0.4.5  # currently required in order to do inference for models with discrete latent variables
# Development tools
black
isort
pylint
pyright
